h1{
    color:chartreuse
   }

.header{
    background-color:rgb(180, 199, 206);
    display: flex;
    justify-content: space-between;
}

.outer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
}
.socialmedia{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #808080;
}